.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#track_image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#athlete_container {
  margin-top: 100px;
}

#athlete_list {
  text-align: left;
  margin-left: 3%;
  font-size:x-large;
  font-weight: 500;
  float: left;
  width: 18%;
  padding-left: 2%;
}

.athlete_name {
  background-color: blue;
  padding-left: 10px;
  border-radius: 10px 0 10px 0;
  color: white
}

.show_all {
  background-color: gray;
  padding-left: 10px;
  border-radius: 10px 0 10px 0;
  border-color: blue;
  color: white
}

.show_all:hover{
  font-weight: 900;
  cursor: pointer;
}

.athlete_card {
  background-color: lightgray;
  border-radius: 10px 0 10px 0;
}

.athlete_id{
  margin-top: -15px
}

.athlete_age {
  margin: -15px 0 0 0;
}

.athlete_name:hover {
  font-weight: 900;
  color: rgb(65, 165, 247);
  cursor: pointer;
}

.athlete_edit_button {
  float: left;
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 10px 0 10px 0;
}

.athlete_delete_button {
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 10px 0 10px 0;
}

.athlete_details {
  padding: -30px 0 -30px 0;
  margin-left: 10px;
  font-size: large;
}

#workout_list {
  float: left;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.workout_card {
  background-color: rgb(234, 234, 234);
  border-radius: 25px;
  margin: 0 80px 50px 80px;
  padding: 10px 0 75px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.workout_date {
  background-color: rgb(3, 26, 232);
  padding: 10px 0 10px 30px;
  text-align: left;
  color: rgb(234, 234, 234);
}

.workout_type {
  margin-top: -50px;
  color: rgb(234, 234, 234)
}

.workout_approx_duration {
  margin-top: -40px;
  text-align: right;
  padding-right: 30px;
  color: rgb(234, 234, 234)
}

.workout_details {
  margin: 50px 0 30px 0;
}

.athlete_count {
  float: left;
  width: 25%;
}

.workout_log_button {
  float:left;
  width: 30%;
  margin: 15px 10% 50px 10%;
}

.workout_average_rating {
  float: left;
  width: 25%;
}

#comment_container {
  background-color: rgb(70, 69, 69);
  color: white;
  padding: 10px;
  margin: 75px 20px 0 20px;
  border-radius: 10px;
}

#comment {
  background-color: rgb(171, 171, 171);
  color: black;
  margin: 10px;
  padding: 10px 0 10px 0;
  border-radius: 15px;
}

form {
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 8px
}

label {
  padding: 8px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(94, 126, 211);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

input[type=submit]:hover {
  background-color: blue;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.patch_athlete {
  width: 75%;
  margin: 0;
}